---
Language: C
BasedOnStyle:  LLVM
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 160
SpaceAfterTemplateKeyword: true
Standard: c99
TabWidth: 4
IndentWidth: 4
IndentRequires: true
UseTab: Always
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
IncludeCategories:
  # Headers in <> with .hpp extension.
  - Regex:           '<([A-Za-z0-9\/-_])+\.hpp>'
    Priority:        1
  # Headers in <> with .h extension.
  - Regex:           '<([A-Za-z0-9\/-_])+\.h>'
    Priority:        10
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\/-_])+>'
    Priority:        20
PointerAlignment: Left
...